// Page content
#page-content
  // Contacts Header
  .content-header
    .header-section
      h1
        i.gi.gi-stats
        | Feedback
        br
        small {{one_checkin_feedback[0].checkInId.checkInTime | date:'medium'}}

  // END Contacts Header
  // Main Row
  .row
    .block
      .table-responsive


        table#general-table.table.table-hover.table-vcenter.feedback-grid(ng-repeat="fd in all_feedback")
          thead
            tr
              th
                h3 {{fd.locationData.name}}
                span {{fd.locationData.category}}, <span city-state="fd.locationData">{{fd.locationData.formatted_address}}</span>

            tr
              th.lighter Questions
              th.col-md-3.lighter Comment
              th.lighter Triggered At
              th.lighter Response Time
              th.lighter Response
          tbody

            tr(ng-repeat="f in fd.questions")
              td
                | {{f.question}}
              td
                span {{f.answers[0].answer || '--'}}
              td
                span(ng-show="f.answers[0].dateTriggered ") {{f.answers[0].dateTriggered | date: 'medium'}}
                span(ng-show="!f.answers[0].dateTriggered") Not Asked
              td
                | {{f.answers[0].timeUpdated | date: 'medium'}}
              td
                i.gi.gi-thumbs_up(ng-show="f.answers[0].decision", style="color: green")
                i.gi.gi-thumbs_down(ng-hide="f.answers[0].decision !== false", style="color: red")
