// Page content
#page-content.page-content
  // Contacts Header
  .content-header
    .header-section
      h1
        i.gi.gi-stats
        | Feedback
        br
        small {{one_checkin_feedback[0].checkInId.checkInTime | date:'medium'}}
        a.btn.btn-alt.btn-xs.btn-primary(href="/resource/locations/activity/export") Export to Excel


  // END Contacts Header
  // Main Row
  .row
    .block
      .table-options.clearfix
        .row
          .col-md-8
            form.navbar-form-custom(role='search')
              .form-group
                input#top-search.form-control(type='text', name='qry', ng-model="search" placeholder='Quick Search')
          .col-md-4
            pagination.animation-dare.pull-right(items="all_feedback", control="pagination_config")
      .table-responsive
        table#general-table.table.table-hover.table-vcenter.feedback-grid()
          thead
            tr
              th.col-md-4.lighter Activity
              th Status
              th Response
              th Feedback Assets
              th.lighter Response Time
              //- th.lighter Response
          tbody
            tr(ng-repeat="fd in all_feedback | orderBy: '-dateTriggered' | filter: search | offset: pagination_config.currentPage:pagination_config.itemsPerPage | limitTo: pagination_config.itemsPerPage")
              td
                p(style="margin-bottom: 0;") <strong>{{fd.questions}}</strong>
                span Feedback - {{fd.checkInId._id | shortenId}} at {{fd.locationId.name}}, <span>{{fd.locationId.address}}</span> <span style="color:#1bbae1">{{fd.checkInId.checkInTime | moment}}</span>
              td
                | Active
              td
                  a.btn.btn-alt.btn-link
                    i.fa.fa-thumbs-up(ng-show="fd.decision == 'Yes'", style="color: green") Yes
                    i.fa.fa-thumbs-down(ng-show="fd.decision == 'No'", style="color: red") No
              td
                .btn-toolbar
                  .btn-group
                    div.dropdown
                      a.btn.btn-alt.btn-link.dropdown-toggle( data-toggle="dropdown")
                          i.fa.fa-comment
                      ul.dropdown-menu.dropdown-custom
                        li
                          p.well
                            | {{fd.hasComment}}
                  .btn-group
                    div.dropdown
                      a.btn.btn-alt.btn-link.dropdown-toggle( data-toggle="dropdown", ng-click="imageSrc= CDN_URL + '/' +fd.hasImage")
                          i.fa.fa-picture-o
                      ul.dropdown-menu.dropdown-custom
                        li
                          p
                            a.btn.btn-alt.btn-link(ng-href="{{CDN_URL}}/{{fd.hasImage}}", target="_blank")
                              img.img-thumbnail(ng-src="{{imageSrc}}", style="width: 300px")
                  .btn-group
                    div.dropdown
                      a.btn.btn-alt.btn-link
                          i.fa.fa-video-camera

              td
                span(response-time="fd") {{fd.timeUpdated | moment}}