// Page content
#page-content.page-content
  // Contacts Header
  .content-header
    .header-section
      h1
        i.gi.gi-stats
        | Feedback
        br
        small {{one_checkin_feedback[0].checkInId.checkInTime | date:'medium'}}

  // END Contacts Header
  // Main Row
  .row
    .block
      .table-responsive

        table#general-table.table.table-hover.table-vcenter
          thead
            tr
              th Questions
              th Comment
              th Triggered At
              th Response Time
              th Response
          tbody

            tr(ng-repeat="f in one_checkin_feedback[0].questions")
              td
                | {{f.question}}
              td
                span {{f.answers[0].answer || '--'}}
              td
                span(ng-show="f.answers[0].dateTriggered ") {{f.answers[0].dateTriggered | date: 'medium'}}
                span(ng-show="!f.answers[0].dateTriggered") Not Asked
              td
                | {{f.answers[0].timeUpdated | date: 'medium'}}
              td
                i.gi.gi-thumbs_up(ng-show="f.answers[0].decision", style="color: green")
                i.gi.gi-thumbs_down(ng-hide="f.answers[0].decision !== false", style="color: red")



          tfoot
            tr
              td(colspan='6')

      // END Table Styles Content
