// Page content
#page-content
  // Contacts Header
  .content-header
    .header-section
      h1
        i.gi.gi-stats
        | Feedback
        br
        small {{one_checkin_feedback[0].checkInId.checkInTime | date:'medium'}}

  // END Contacts Header
  // Main Row
  .row
    .block
      .table-responsive
        //
          Available Table Classes:
          'table'             - basic table
          'table-bordered'    - table with full borders
          'table-borderless'  - table with no borders
          'table-striped'     - striped table
          'table-condensed'   - table with smaller top and bottom cell padding
          'table-hover'       - rows highlighted on mouse hover
          'table-vcenter'     - middle align content vertically
        table#general-table.table.table-hover.table-vcenter
          thead
            tr
              th Questions
              th Comment
              th Triggered At
              th Response Time
              th Response
          tbody

            tr(ng-repeat="f in one_checkin_feedback[0].questions")
              td
                | {{f.question}}
              td
                span {{f.answers[0].answer || '--'}}
              td
                span(ng-show="f.answers[0].dateTriggered ") {{f.answers[0].dateTriggered | date: 'medium'}}
                span(ng-show="!f.answers[0].dateTriggered") Not Asked
              td
                | {{f.answers[0].timeUpdated | date: 'medium'}}
              td
                i.gi.gi-thumbs_up(ng-show="f.answers[0].decision", style="color: green")
                i.gi.gi-thumbs_down(ng-hide="f.answers[0].decision !== false", style="color: red")



          tfoot
            tr
              td(colspan='6')
                .btn-group.btn-group-sm.pull-right
                  a.btn.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='', data-original-title='Settings')
                    i.fa.fa-cog
                  .btn-group.btn-group-sm.dropup
                    a.btn.btn-primary.pull-right.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
                      span.caret
                    ul.dropdown-menu.dropdown-custom.dropdown-menu-right
                      li
                        a(href='javascript:void(0)')
                          i.fa.fa-print.pull-right
                          |  Print
                      li.dropdown-header
                        i.fa.fa-share.pull-right
                        |  Export As
                      li
                        a(href='javascript:void(0)') .pdf
                        a(href='javascript:void(0)') .cvs
                .btn-group.btn-group-sm
                  a.btn.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='', data-original-title='Edit Selected')
                    i.fa.fa-pencil
                  a.btn.btn-primary(href='javascript:void(0)', data-toggle='tooltip', title='', data-original-title='Delete Selected')
                    i.fa.fa-times
      // END Table Styles Content
