// Page content
#page-content.page-content
  // Contacts Header
  .content-header
    .header-section
      h1
        i.gi.gi-building
        | {{one_place_checkin[0].locationId.name || 'Unknown'}}
        br
        small {{one_place_checkin[0].locationId.description}}

  .row
    .block
      .table-responsive
        table#general-table.table.table-striped.table-vcenter
          thead
            tr
              th.text-center(style='width: 80px;')
                input(type='checkbox')
              th.text-center(style='width: 150px;')
                i.gi.gi-user
              th User
              th CheckInTime
              th Activities
          tbody
            tr(ng-repeat="place in one_place_checkin")
              td.text-center
                input#checkbox1-1(type='checkbox', name='checkbox1-1')
              td.text-center
                img.img-circle(src='img/placeholders/avatars/avatar16.png', alt='avatar')
              td
                a(href='') {{place.userId.firstname}} {{place.userId.lastname}}
              td {{place.checkInTime | date:'medium'}}
              td
                a.btn(ui-sref="checkinfeedback({checkinId: place._id, locationId: place.locationId._id})") View Feedback



          tfoot
            tr

      // END Table Styles Content
