// Main Sidebar
#sidebar
  // Wrapper for scrolling functionality
  .sidebar-scroll
    // Sidebar Content
    .sidebar-content
      // User Info
      .sidebar-section.sidebar-user.clearfix
        .sidebar-user-avatar(style="margin-left: 0px;")
          a(href='')
            img(src='img/tag-logo.png', alt='avatar')
        .sidebar-user-avatar(style="margin-left: 13px;")
          a(href='')
            img(ng-src='{{_user.photo}}', alt='avatar')


      // Sidebar Navigation
      ul.sidebar-nav
        li
          a(ui-sref='questions')
            | Manage Questions
        li
          a(ui-sref='activities')
            | Activity
        if user.isAdmin
          li
            a(ui-sref="locations({'entry_type': 'system'})")
              | Stored Locations
        li
          a(ui-sref="locations({'entry_type': 'user'})")
            | Your Locations
        if user.isAdmin
          li
            a(ui-sref="users")
              | Users
        li
          a(href="", ng-click="do_logout()")
            | Support tickets

      .sidebar-section.sidebar-user.clearfix
        ul.sidebar-nav
          li
            p
              strong {{_user.firstname}} <br>
              em {{_user.email}}
            a(href="", ng-click="do_logout()")
              i.gi.gi-exit.sidebar-nav-icon
              | Logout
      // END Sidebar Notifications
    // END Sidebar Content
  // END Wrapper for scrolling functionality
// END Main Sidebar