// Main Sidebar
#sidebar
  // Wrapper for scrolling functionality
  .sidebar-scroll
    // Sidebar Content
    .sidebar-content
      // User Info
      .sidebar-section.sidebar-user.clearfix
        .sidebar-user-avatar
          a(href='')
            img(src='img/tag-logo.png', alt='avatar')


      // Sidebar Navigation
      ul.sidebar-nav
        li
          a(ui-sref='questions')
            | Manage Questions
        li
          a(ui-sref='activities')
            | Activity
        if user.isAdmin
          li
            a(ui-sref="locations({'entry_type': 'system'})")
              | Stored Locations
        li
          a(ui-sref="locations({'entry_type': 'user'})")
            | User Locations
        li
          a(href="", ng-click="do_logout()")
            i.gi.gi-exit.sidebar-nav-icon
            | Logout

      // END Sidebar Notifications
    // END Sidebar Content
  // END Wrapper for scrolling functionality
// END Main Sidebar