// Main Sidebar
#sidebar
  // Wrapper for scrolling functionality
  .sidebar-scroll
    // Sidebar Content
    .sidebar-content
      // User Info
      .sidebar-section.sidebar-user.clearfix
        .sidebar-user-avatar
          a(href='')
            img(src='img/tag-logo.png', alt='avatar')
        //.sidebar-user-name tagChief
        //.sidebar-user-links
          a(href='', data-toggle='tooltip', data-placement='bottom', title='Logout', ng-click="do_logout()")
            i.gi.gi-exit
      // END User Info
      // Theme Colors

      // Sidebar Navigation
      ul.sidebar-nav
        li
          a(ui-sref="locations")
            i.gi.gi-building.sidebar-nav-icon
            | Locations
        li
          a(href='')
            i.gi.gi-stats.sidebar-nav-icon
            | Activity
        li
          a(href="", ng-click="do_logout()")
            i.gi.gi-exit.sidebar-nav-icon
            | Logout

      // END Sidebar Notifications
    // END Sidebar Content
  // END Wrapper for scrolling functionality
// END Main Sidebar