doctype html
//if IE 8
  html.no-js.lt-ie9
//if IE 9
  html.no-js.lt-ie10
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    title tagChief Stats Monitor
    meta(name='description', content='')
    meta(name='author', content='pixelcave')
    meta(name='robots', content='noindex, nofollow')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1.0')
    // Icons
    // The following icons can be replaced with your own, they are used by desktop and mobile browsers

    // END Icons
    // Stylesheets
    // Bootstrap is included in its original form, unaltered
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // Related styles of various icon packs and plugins
    link(rel='stylesheet', href='css/plugins.css')
    // The main stylesheet of this template. All Bootstrap overwrites are defined in here
    link(rel='stylesheet', href='css/main.css')
    // Include a specific file here from css/themes/ folder to alter the default theme of the template
    // The themes stylesheet of this template (for using specific theme color in individual elements - must included last)
    link(rel='stylesheet', href='css/themes.css')
    // END Stylesheets
    // Modernizr (browser feature detection library) & Respond.js (Enable responsive CSS code on browsers that don't support it, eg IE8)
    script(src='js/vendor/modernizr-2.7.1-respond-1.4.2.min.js')
  body(ng-app="tagChiefStatsApp")
    // Login Container
    #login-container.animation-fadeIn
      // Login Title
      .login-title.text-center
        h1
          img(src="img/tag-logo.png")
        if errorMessage
          p= errorMessage
      // END Login Title

      // Login Block
      .block.push-bit
        block page


      // END Login Block
      // Footer
      footer.text-muted.text-center
        small
          span#year-copy

      // END Footer
    // END Login Container
    // Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL)
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script.
      !window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));
    // Bootstrap.js, Jquery plugins and Custom JS code
    script(src='js/vendor/bootstrap.min.js')
    script(src="components/angular/angular.min.js")
    script(src="components/ui-router/release/angular-ui-router.min.js")
    script(src='js/plugins.js')
    script(src='js/template.js')
    script(src='js/app.js')
    // Load and execute javascript code used only in this page
    script(src='js/pages/login.js')
    script.
      $(function(){ Login.init(); });
