button.btn.btn-success.prevbtn(ng-click="control.prevPage()", ng-disabled="control.prevPageDisabled()")
  | Previous
.btn-group.dropup
  button.btn.pageNo.btn-bell.btn-small(type="button", style="border-radius: 0")
    |  {{control.currentPage}}
  button.btn.dropdown-toggle(data-toggle="dropdown", style="border-radius: 0")
    span.caret
  div.dropdown-menu.alt-text(role="menu", style="text-transform: capitalize;z-index: 99999; width: 250px;")
    form.form-horizonatal
      .form-group
        label 10 per page
        input(type="radio",ng-model="control.itemsPerPage" value="5")
      .form-group
        label 20 per page
        input(type="radio",ng-model="control.itemsPerPage" value="10")
      .form-group
        label 50 per page
        input(type="radio",ng-model="control.itemsPerPage" value="50")
      .form-group
        label 100 per page
        input(type="radio",ng-model="control.itemsPerPage" value="100")

button.btn.btn-success.nextbtn(ng-click="control.nextPage(items)", ng-disabled="nextPageDisabled(items)")
  | Next