extends ../layouts/email-layout

block email
    table.row.note
        tbody
            tr
                td
                    h4 tagChief Email Verification
                    p You have completed your registration
                    table.twelve.columns(style='margin-bottom: 10px;')
                        tbody
                            tr
                              td.panel
                                a(href="http://tagchief") OpenApp
                              td.expander
