// Page content
#page-content.page-content
  // Contacts Header
  .content-header
    .header-section
      h1
        i.gi.gi-stats
        | Questions


  // END Contacts Header
  // Main Row
  .row
    .col-md-7
      div.block-section
        h4.sub-header Manage Questions
        form.form-bordered.form-horizontal()
          .form-group
            label.col-md-8
              p.form-control-static
                  | Filter for questions you want to perform operations on.
                  | eg. Filter to group, to delete or change assignee
          .form-group
            .col-md-7
              input.form-control(type='search', placeholder='Filter questions', ng-model="qtnf")
            label.col-md-5
              .btn-group.dropup.text-left
                a.btn.btn-alt.btn-success.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
                  i.fa.fa-users
                  span.caret
                ul.dropdown-menu.dropdown-custom
                  li.dropdown-header Grouping
                  li.divider
                  li
                    a(href='' ng-click="set_group_as('a')")
                      i.fa.fa-check-square.pull-right(style="color: green")
                      | Group A
                    a(href='' ng-click="set_group_as('b')")
                      | Group B
                    a(href='' ng-click="set_group_as('c')")
                      | Group C
                  li.divider
                  li
                    a(href='' ng-click="reset_group()")
                      | None

      ul.list-group
        li.list-group-item(ng-repeat="d in __data | filter:qtnf")
          a.btn.btn-link.pull-right(ng-click="trash_question(d, $index)")
            i.fa.fa-trash

          h4.list-group-item-heading {{::d.title}}
          //- p.list-group-item-text
          //-   i.fa.fa-circle-o   {{::d.assignee}}
          //-   i.fa.fa-circle-o   {{::d.currentGroup}}


    .col-md-5
      .block
        // Normal Form Title
        .block-title
          .block-options.pull-right
            a.btn.btn-alt.btn-sm.btn-default.toggle-bordered.enable-tooltip(href='javascript:void(0)', data-toggle='button', title='', data-original-title='Toggles .form-bordered class')
          h2
            |  Add a new
            strong  Question
        // END Normal Form Title
        // Normal Form Content
        .row
          .col-md-8
            form.form-bordered.form-horizontal(ng-submit="save_question(form)")
              .form-group
                label.col-md-3 Question
                .col-md-9
                  textarea.form-control(type='password', placeholder='Start here.', ng-model="form.questions")
                  span.help-block
                    | write each question you want to ask out, ending
                    | in a question mark (?). <em style="color: darkorange">One question per line</em>
              .form-group
                  label.col-md-3 Assignee Email
                  .col-md-9
                    input#example-nf-email.form-control(type='email', placeholder='Enter Email Account', ng-model="form.email_assignee")
                    span.help-block Please enter the <abbr>assignee</abbr> ESP email.
              .form-group
                label.col-md-3 Preffered response
                .col-md-9
                  select.form-control(ng-model="form.response_type")
                    option(value="any") Any
                    option(value="yesno") Yes or No
                    option(value="comment") Comment
                    option(value="image") Picture
                    option(value="video") Video
                  span.help-block What is the most suitable kind of response to your question.
               .form-group
                label.col-md-3 Timing
                .col-md-5
                  select.form-control(ng-model="form.promptAfter")
                    option(value="10") Immediate
                    option(value="{{1 * 60}}") One minute
                    option(value="{{5 * 60}}") 5 minutes
                    option(value="{{10 * 60}}") 10 minutes
              .form-group.form-actions
                button.btn.btn-sm.btn-primary(type='submit')
                  i.fa.fa-user
                  |  Add
                button.btn.btn-sm.btn-warning(type='reset')
                  i.fa.fa-repeat
                  |  Reset
